@model htmlHelpersFormulario.Models.Persona

<br />
<br />
<div class="offset-lg-4 offset-md-6 col-sm-6 col-md-6 col-lg-12">

    <div class="jumbotron">
    <h1 class="display-4">Bienvenidos!</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>En este formulario podras agregar tus datos personales y tus actividades cotidianas.</p>
    <a class="btn btn-success btn-lg" href="/Persona/Create" role="button">Iniciar formulario</a>
</div>
    
</div>
